<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 page-wrapper">
        <h2 class="text-center page-header">Forgot Password</h2>
        <form style="padding:25px;">
          <div class="imgcontainer">
            <img src="../../../assets/img/dummy-logo.png" alt="Avatar" class="avatar">
          </div>
  
          <div class="">
            <label for="uname"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" class="form-control" name="email" #passwordResetEmail required>
  
            <!-- <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" class="form-control" required> -->
  
            <button type="button" (click)="authService.ForgotPassword(passwordResetEmail.value)">Submit</button>
            <!-- <label>
              <input type="checkbox" checked="checked" name="remember"> Remember me
            </label> -->
          </div>
          <div style="margin-top:30px">
            <span class="have-acccount-sec">Continue to Login <a routerLink="../login">Click Here</a></span>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  